*{
    background-color: aliceblue;

}

#container{
    max-width: 90%;
    min-width: 50%;
    margin: auto;
    overflow: hidden;
}

header{
    margin: auto;
    margin: .5em;
    padding: 1em;
    text-align: center;
}

aside{
    float: left;
    width: 20%;
    height: 30%;
    max-width: 20%;
    max-height: 400px;  
    margin-right: 2%;
    margin-bottom: .5em;
    padding: .3em;
}

main{
    float: right;
    width: 70%;
    height: 90%;
    margin-left: 2%;
    text-align: center;
    overflow: hidden;
}

footer{
    clear: both;
    margin: .5em;
    text-align: center;
}

section{
    width: 25%;
    height: 75%;
    max-height: 80%;
    margin: 1em;
    padding: 1em;
    float: right;
    text-align: left;
}